@model IEnumerable<WorkManagement.Core.Models.Worker>

@{
    ViewBag.Title = "Index";
}

<h2>Workers List</h2>

<p>
    @Html.ActionLink("Create a New Worker", "Create",null,new {@class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
        </th>

        <th>
            Start Date
        </th>
        <th>
            Department Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        <img class="img-rounded" style="height:100px" src="~/Content/WorkerProfileImages/@item.WorkerImageUrl" />
    
        @Html.ActionLink("Go to Gallery", "WorkerGallery", new { id = item.WorkerId }, new { @class = "btn btn-default" })
    </td>
    <td>
        @item.CreatedAt.ToString("dd.MM.yyyy")
    </td>
    <td>
        @item.Department.DepartmentName
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>

    <td>
        @String.Format("{0:c}", item.Salary)
    </td>
    <td>
        @item.DateOfBirth.ToString("dd.MM.yyyy")
    </td>
    <td>
        @(item.Gender==true?"Male":"Female")
    </td>


    <td>
        @Html.ActionLink("Details", "Details", new { id = item.WorkerId }, new { @class = "btn btn-default" }) |
        @Html.ActionLink("Edit", "Edit", new { id = item.WorkerId }, new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.WorkerId }, new { @class = "btn btn-danger" })
    </td>
</tr>
}

</table>
