@model IEnumerable<WorkManagement.Core.Models.WorkerGallery>

@{
    ViewBag.Title = "Index";
}

<br />

<h4>
    @Html.ActionLink("Create a New Gallery", "Create",null,new {@class="btn btn-primary" })
</h4>  

<div class="col-md-12">

    @foreach (var item in Model)
    {
    <div class="col-md-3" style="height:300px;margin:10px;padding:10px;border:solid thin whitesmoke">
        <div class="col-md-12">
            <img class="img-responsive" style="height:180px" src="~/Content/Galleries/@item.GalleryUrl" />
        </div>
        <div class="col-md-12">
            <strong>@item.GalleryName</strong>
        </div>
        <div class="col-md-12">
            @item.CreatedAt.ToString("dd.MM.yyyy")
        </div>
        <div class="col-md-12">
            @Html.ActionLink("Edit", "Edit", new { id = item.WorkerImageGalleryId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.WorkerImageGalleryId }, new { @class = "btn btn-danger" })
        </div>
        <div class="col-md-12">
            @Html.ActionLink("Go to Gallery", "Details", new { id = item.WorkerImageGalleryId }, new { @class = "btn btn-default" })
        </div>
    </div>
    }
</div>
<div class="col-md-12 clearfix"></div>
